%tr
  %td
    = link_to user_listing.title, user_listing.url, target: '_blank'
  %td
    = user_listing.area_name
  %td
    = user_listing.status
  %td
    = user_listing.bedrooms
  %td    
    = number_with_delimiter user_listing.size_sqft
  %td    
    = number_to_currency user_listing.price, precision: 0
  %td
    = number_to_currency user_listing.ppsf, precision: 0
  %td
    = number_to_percentage user_listing.percent_down, precision: 0
  %td
    = number_to_percentage user_listing.interest_rate, precision: 3
  %td
    = number_to_currency user_listing.gross_monthly_cost, precision: 0
  %td
    = number_to_currency user_listing.net_monthly_cost, precision: 0
  %td
    = number_to_currency user_listing.airbnb_daily_total, precision: 0
  %td
    = user_listing.airbnb_fill_days
  %td
    = number_to_currency user_listing.airbnb_monthly_gross_profit, precision: 0
  %td
    = number_to_currency user_listing.net_monthly_cost_including_airbnb , precision: 0
  %td
    = number_to_currency user_listing.initial_cash_requirement, precision: 0
  %td
    = number_to_currency user_listing.five_year_cash_requirement, precision: 0
  %td
    - if user_listing.saved
      = link_to user_listing_path(user_listing, user_listing: {saved: false}), method: :patch do
        %span.glyphicon.glyphicon-star
    - else
      = link_to user_listing_path(user_listing, user_listing: {saved: true}), method: :patch do
        %span.glyphicon.glyphicon-star-empty
    = link_to edit_user_listing_path(user_listing) do
      %span.glyphicon.glyphicon-edit
    = link_to user_listing_path(user_listing), method: :delete do
      %span.glyphicon.glyphicon-trash
