= render '/web/shared/navigation'

#main-container
  .row
    %h1
      Listings
  .table-responsive
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th
            Title
          %th
            Neighborhood
          %th
            Status
          %th
            Beds
          %th
            Sq Ft
          %th
            Listed Price
          %th
            Price/Sq Ft
          %th
            Percent Down
          %th
            Interest Rate
          %th
            = link_to 'Monthly Cost (Mort + CC + Tax)', user_listings_path(order: :gross_monthly_cost)
          %th
            = link_to 'Monthly Cost (Net Tax Benefits)', user_listings_path(order: :net_monthly_cost)
          %th
            Airbnb Rate
          %th
            Airbnb Fill Days
          %th
            Net Airbnb
          %th
            Total (include Tax + Airbnb)
          %th
            = link_to 'Initial Cash Required', user_listings_path(order: :initial_cash_requirement)
          %th
            = link_to '5 Year Cash Requirement', user_listings_path(order: :five_year_cash_requirement)

      %colgroup
        %col{ span: '7', class: 'basic-info' }
        %col{ span: '2', class: 'mortgage-assumptions' }
        %col{ span: '2', class: 'monthly-calc' }
        %col{ span: '4', class: 'airbnb' }
        %col{ span: '2', class: 'cost-calc' }
      %tbody
        = render @user_listings
  = paginate @user_listings