%nav.navbar-fixed-top
  .container-fluid
    .navbar-header
      = link_to '/', class: 'navbar-brand' do
        =image_tag 'logo.png', alt: 'Homeycomb Logo', class: 'logo'
    .collapse.navbar-collapse
      %ul.nav.nav-pills.navbar-nav.navbar-right
        %li.home
          = link_to "Listings", user_listings_path
        %li.search_setting
          = link_to edit_search_setting_path(current_user.search_setting) do
            %span.glyphicon.glyphicon-search
        %li.profile
          = link_to edit_profile_path(current_user.profile) do
            %span.glyphicon.glyphicon-user
        %li
          = link_to logout_path do
            %span.glyphicon.glyphicon-off
